@model DHGame.WebAdmin.Models.RolesModel
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@*<script type="text/javascript" src="/Scripts/jquery.min.js"></script>*@
<style>
.dataTable .head{font-weight:bold;}
.dataTable .head td{border-bottom:1px solid #ebebeb;}
.dataTable td{border-bottom:1px solid #ebebeb;}
.dataTable td.firstCol{padding-left:5px;text-align:left;}
.dataTable td.endCol{padding-right:5px;text-align:right;}
.dataTable td.number{color:#a5a5a5;}
.dataTable td.action span{margin:0 6px;color:#999;}
.dataTable td.action span.nb{margin-right:0;}
.dataTable td.action a{text-decoration:underline;color:#3d566d;}
.dataTable td.action a:hover{color:#d30000;}
.dataTable span.title{display:block;width:96%;padding:2px 0;word-break:break-all;word-wrap:break-word;}
.dataTable span.titflag{padding-left:8px;color:#900;}
.dataTable span.titpic{display:inline-block;width:12px;height:12px;position:relative;}
.dataTable span.titpic i{display:inline-block;width:12px;height:12px;background:url(../images/lnkBg03.png) no-repeat;position:absolute;top:2px;}
.dataTable span.thumbs{display:block;width:80px;border:1px dotted #ccc;background:#fff;text-align:center;overflow:hidden;}

.dataTable .dataTr{background:#fff;}
.dataTable .dataTrOn{background:#f8f8f8;}
/*权限选择*/
 .purviewSel{padding:5px 0 10px;}
 .purviewSel a{color:#900;}
/*灰色按钮*/
.grayBtn{display:inline-block;width:52px;height:24px;line-height:24px;background:url(../images/gray_btn_bg.png);text-align:center;cursor:pointer;color:#333;}
/*展开收缩*/
.plusSign,.minusSign{display:inline-block;padding-left:15px;background-image:url(../images/pmSignBg.png);background-repeat:no-repeat;cursor:pointer;}
.plusSign{background-position:0 3px;}
.minusSign{background-position:0 -38px;}
/*左右箭头*/
.leftArrow,.rightArrow{display:inline-block;width:6px;height:9px;margin:0 3px -2px;background-image:url(../images/lrArrow.png);background-repeat:no-repeat;*zoom:1;_position:relative;*margin:0 3px -13px;}
.leftArrow{background-position:0 0;*margin-right:7px;}
.rightArrow{background-position:right 0;}
/*类别层级*/
.subType{padding-left:30px;background:url(../images/subTypeBg.gif) no-repeat;margin-left:24px;}
/*文件夹背景*/
.isdir{background:url(../images/folder.gif) no-repeat left center;padding-left:18px;}
</style>
@*<script type="text/javascript" src="/Scripts/checkf.func.js"></script>*@
<script type="text/javascript" src="/Scripts/forms.func.js"></script>
<script type="text/javascript">
    //管理组权限选择
    function SelPriv(siteid, obj) {
        if (obj) {
            $("input[type='checkbox'][name^='siteid[" + siteid + "]']").attr('checked', 'checked');
            $("input[type='checkbox'][name^='priv[" + siteid + "]']").attr('checked', 'checked');
            $("input[id^='ActionValueSum_" + siteid + "']").val("31");
        } else {
            $("input[type='checkbox'][name^='siteid[" + siteid + "]']").removeAttr('checked');
            $("input[type='checkbox'][name^='priv[" + siteid + "]']").removeAttr('checked');
            $("input[id^='ActionValueSum_" + siteid + "']").val("0");
        }
    }
    //参数:角色，模块ID，this
    function SelRole(siteid, name, obj) {
        if (obj.checked) {
            $("input[type='checkbox'][name='priv[" + siteid + "][" + name + "][]']").attr('checked', 'checked');
            $("#ActionValueSum_" + siteid + "_" + name).val("31");
        } else {
            $("input[type='checkbox'][name='priv[" + siteid + "][" + name + "][]']").removeAttr('checked');
            $("#ActionValueSum_" + siteid + "_" + name).val("0");
        }
    }


    function SelModel(obj) {
        if (obj) {
            $("input[type='checkbox'][name='model[]']").attr('checked', 'checked');
        } else {
            $("input[type='checkbox'][name='model[]']").removeAttr('checked');
        }
    }
    function SetActionValueSum(roleId, modulesId) {
        var obj = $("input[type='checkbox'][name='priv[" + roleId + "][" + modulesId + "][]']");
        var check_val = [];
        var ActionValueSum = 0;
        for (k in obj) {
            if (obj[k].checked)
                //check_val.push(obj[k].value);
                ActionValueSum = obj[k].value | ActionValueSum;
        }
        
        $("#ActionValueSum_" + roleId + "_" + modulesId).val(ActionValueSum);
    }
    //$(document).ready(function () {
    //    var a = 1;
    //    var b = 2;
    //    var c = 4;
    //    var d = 8;
    //    var e = 16;
    //    var f = 32;
    //    var g = 64;
    //    var h = 128;
    //    var aa = a | b | c | d | e | f | g | h;
    //    alert(aa);
    //});
</script>
<div class="pageContent">
    <form method="post" action="/Roles/Edit" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent" layouth="56">
            <p>
                <label>Id：</label>
                <input name="Id" type="text" size="30" value="@Model.Id" readonly="readonly" />
            </p>
            <p>
                <label>登录账户：</label>
                <input name="RoleName" class="required" type="text" size="30" value="@Model.RoleName" alt="请输入登录账户" />
            </p>
            <p>
                <label>真实姓名：</label>
                <input name="RoleDesc" class="required" type="text" size="30" value="@Model.RoleDesc" alt="请填写真实姓名" />
            </p>
            <p>
                <label>是否停用：</label>
                <label>
                    <input type="radio" name="Nullity" value="false" @(Model.Nullity ? "" : "checked") />正常 
                    <input type="radio" name="Nullity" value="true" @(Model.Nullity ? "checked" : "") />停用
                </label>
            </p>
            <p>
                <label>模块权限：</label>
            </p>
            <p>
                @Html.Raw(ViewBag.TreeHtml)
                @*<div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,1,this);"  /></td>
                            <td align="left" width="45%"><span class="minusSign" id="rowid_1" onclick="DisplayRows(1);">系统管理</span></td>
                            <td width="30%" class="privTxt">
                                <span><input type="checkbox" name="priv[1][1][]" value="1" onclick="SetActionValueSum(1,1)"  />查看</span> 
                                <span>
                                    <input type="checkbox" name="priv[1][1][]" value="2" onclick="SetActionValueSum(1,1)" />
                                    添加
                                </span> 
                                <span>
                                    <input type="checkbox" name="priv[1][1][]" value="4" onclick="SetActionValueSum(1,1)" />
                                    修改
                                </span> 
                                <span>
                                    <input type="checkbox" name="priv[1][1][]" value="8" onclick="SetActionValueSum(1,1)" />
                                    删除
                                </span>
                                <span>
                                    <input type="checkbox" name="priv[1][1][]" value="16" onclick="SetActionValueSum(1,1)" />
                                    下载
                                </span>
                            </td>
                            <td>
                                <input type="hidden" name="RolePermissions[0].RoleId" value="1" />
                                <input type="hidden" name="RolePermissions[0].ModuleId" value="1" />
                                <input type="hidden" id="ActionValueSum_1_1" name="RolePermissions[0].ActionValueSum" value="0" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_1">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,3,this);"  /></td>
                            <td align="left" width="45%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">系统设置</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][3][]" value="1" onclick="SetActionValueSum(1,3)" />
                                    查看
                                </span> <span>
                                            <input type="checkbox" name="priv[1][3][]" value="2" onclick="SetActionValueSum(1,3)" />
                                    添加
                                </span> <span>
                                            <input type="checkbox" name="priv[1][3][]" value="4" onclick="SetActionValueSum(1,3)" />
                                    修改
                                </span> <span>
                                            <input type="checkbox" name="priv[1][3][]" value="8" onclick="SetActionValueSum(1,3)" />
                                    删除
                                </span>
                                <span>
                                    <input type="checkbox" name="priv[1][3][]" value="16" onclick="SetActionValueSum(1,3)" />
                                    下载
                                </span>
                            </td>
                            <td>
                                <input type="hidden" name="RolePermissions[1].RoleId" value="1" />
                                <input type="hidden" name="RolePermissions[1].ModuleId" value="3" />
                                <input type="hidden" id="ActionValueSum_1_3" name="RolePermissions[1].ActionValueSum" value="0" />
                            </td>
                        </tr>
                    </table>
                    
                </div>*@
                <div class="purviewSel"><a href="javascript:;" onclick="SelPriv(@(Model.Id),true)">全选</a>&nbsp;&nbsp;<a href="javascript:;" onclick="SelPriv(@(Model.Id),false)">反选</a></div>
                @*<div rel="rowpid_2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,14,this);" /></td>
                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">关于我们摘要子11</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][14][]" value="list" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][14][]" value="add" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][14][]" value="update" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][14][]" value="del" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,15,this);" /></td>
                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">关于我们摘要0</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][15][]" value="list" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][15][]" value="add" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][15][]" value="update" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][15][]" value="del" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,1,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_1" onclick="DisplayRows(1);">网站公告</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][1][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][1][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][1][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][1][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,4,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_4" onclick="DisplayRows(4);">新闻动态</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][4][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][4][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][4][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][4][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,5,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_5" onclick="DisplayRows(5);">产品展示</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][5][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][5][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][5][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][5][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_5">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,6,this);" checked="checked" /></td>
                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">笔记本电脑</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][6][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][6][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][6][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][6][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_5">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,7,this);" checked="checked" /></td>
                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">智能手机</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][7][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][7][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][7][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][7][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,8,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_8" onclick="DisplayRows(8);">成功案例</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][8][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][8][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][8][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][8][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,9,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_9" onclick="DisplayRows(9);">联系我们</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][9][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][9][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][9][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][9][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_9">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,10,this);" checked="checked" /></td>
                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">联系我们摘要</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][10][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][10][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][10][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][10][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,11,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_11" onclick="DisplayRows(11);">软件下载</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][11][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][11][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][11][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][11][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,12,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_12" onclick="DisplayRows(12);">商品展示</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][12][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][12][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][12][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][12][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div rel="rowpid_0">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                        <tr align="left" class="dataTr">
                            <td width="3%" height="32"><input type="checkbox" name="siteid[1]" value="1" onclick="SelRole(1,13,this);" checked="checked" /></td>
                            <td align="left"><span class="minusSign" id="rowid_13" onclick="DisplayRows(13);">幻灯Banner</span></td>
                            <td width="30%" class="privTxt">
                                <span>
                                    <input type="checkbox" name="priv[1][13][]" value="list" checked="checked" />
                                    查看
                                </span> <span>
                                    <input type="checkbox" name="priv[1][13][]" value="add" checked="checked" />
                                    添加
                                </span> <span>
                                    <input type="checkbox" name="priv[1][13][]" value="update" checked="checked" />
                                    修改
                                </span> <span>
                                    <input type="checkbox" name="priv[1][13][]" value="del" checked="checked" />
                                    删除
                                </span>
                            </td>
                        </tr>
                    </table>
                    <div class="purviewSel"><a href="javascript:;" onclick="SelPriv(1,true)">全选</a>&nbsp;&nbsp;<a href="javascript:;" onclick="SelPriv(1,false)">反选</a></div>
                </div>*@
            </p>
        </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>